<html>


{% include "navbar.html" %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="static/js/upload.js"></script>
<script src="static/js/bootstrap.min.js"></script>

<div class="modal fade" id="submit-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Upload Successful! We will notify you when your print is complete.</strong> 
</div>
      </div>
      <div class="modal-body">
        <p>We may follow up with you for more details regarding your print if necessary.</p>
      </div>
      <div class="modal-footer">
        <a href="/view" class="btn btn-primary">Close</a>
      </div>
    </div>
  </div>
</div>

<div class="bs-docs-section">
        <div class="row">
          <div class="col-lg-12">
            <div class="page-header">
              <h1 id="forms">Submit your print request!</h1>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="well bs-component">
              <form class="form-horizontal" enctype="multipart/form-data" action="/new" method="post">
                <fieldset>
                  <legend>Specify your request here</legend>
                  <div class="form-group">
                    <label for="inputName" class="col-lg-2 control-label">Name</label>
                    <div class="col-lg-10">
                      <input type="text" class="form-control" name="inputName" placeholder="Name" required="true">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputCompany" class="col-lg-2 control-label">Company</label>
                    <div class="col-lg-10">
                      <input type="text" class="form-control" name="inputCompany" placeholder="Company" required="true">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputTitle" class="col-lg-2 control-label">Job Title</label>
                    <div class="col-lg-10">
                      <input type="text" class="form-control" name="inputTitle" placeholder="Job Title" required="true">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                    <div class="col-lg-10">
                      <input type="email" class="form-control" name="inputEmail" placeholder="Email" required="true">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="select" class="col-lg-2 control-label">Preferred Printer</label>
                    <div class="col-lg-10">
                      <select class="form-control" name="select">
                        <option>Formlabs</option>
                        <option>NV</option>
                        <option>uPrint</option>
                        <option>Autodesk</option>
                        <option>Unsure</option>
                      </select>

                    <span class="help-block">It's okay if you're not sure which one is best for your print.</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="textArea" class="col-lg-2 control-label">Brief Description</label>
                    <div class="col-lg-10">
                      <textarea class="form-control" rows="3" name="inputBrief"></textarea>
                      <span class="help-block">Please include a brief description of what you are printing and what it will be used for (display, mechanical part, etc.). </span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="textArea" class="col-lg-2 control-label">Additional Specifications</label>
                    <div class="col-lg-10">
                      <textarea class="form-control" rows="3" name="inputAdditional"></textarea>
                      <span class="help-block">Add any additional information or specifications here (orientation, density, scale or other advanced options).</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputFile"  name="inputFile" type="text" class="col-lg-2 control-label">File</label>
                    <div class="col-lg-10">
                      <input type="file"  name="file" class="file form-control" placeholder="File" required="true" accept=".stl">
                      <span class="help-block">The model must be a ".stl" file! We do not accept other formats for printing.</span>
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                      <div class="progress progress-striped active">
                    <div  id="progress-bar" class="progress-bar" style="width: 0%"></div>
                  </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                      <button id="submit-button" type="submit" class="btn btn-primary">Submit</button>
                    </div>
                  </div>
                </fieldset>
              </form>
              
            </div>
          </div>
</html>